html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
}
.main {
}
.main img, .main video {
  margin: auto;
  overflow: auto;
  height: 100vh;
  width: 100vw;
  object-fit: contain;
  cursor: pointer;
}
/* .main .prev, */
.main .next {
  cursor: pointer;
  position: absolute; top: 0; left: 0; right: 0;
  height: 90vh;
  width: 100vw;
  opacity: 0;
  /* opacity: 0.5; background-color: red; */
}
.main .form {
  text-align: center;
  width: 100%;
}
.main .form th {
  text-align: right;
  width: 50%;
  border: 0;
}
.main .form td {
  text-align: left;
  width: 50%;
  border: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main .form .copy-button {
  margin: 0.5em;
}
/* .main .next { */
  /* margin-left: 60%; */
/* } */

.image-list .items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.image-list .item {
  text-align: center;
  width: 16em;
}
.image-list .item .label {
  width: 16em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.image-list .item video,
.image-list .item img {
  object-fit: contain;
  width: 16em;
  height: 16em;
}
.pager {
  margin-bottom: 1em;
  margin-top: 1em;
  text-align: center;
}
.pager > * {
  float: left;
  width: 20%;
  margin: 0; border: 0; padding: 0;
  padding-bottom: 2px;
}
.pager > a:hover {
  padding-bottom: 0;
  /* let sakura.css's hover do its thing without mangling the page */
}
